name: Test Matrix
on:
  push:
    branches: [ master ]
    paths-ignore:
    - '**/*.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
    - '**/*.md'
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
      - name: Compress artifact
        run: |
          tar -czf compiled.tar.gz *
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: compiled
          path: ./compiled.tar.gz
          retention-days: 1
  test:
    needs:
      - compile
    strategy:
      fail-fast: false
      matrix:
        node: [14.x, 16.x, 18.x, 20.x, 22.x, 24.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: compiled
      - name: Unompress artifact
        run: |
          tar -xzf ./compiled.tar.gz
      - name: Test
        run: |
          npm run test
